<footer>
    <ul>
        <li>Користувачеві</li>
        <li>_______________</li>
        <li><a href="">Кіно не працює ?</a></li>
        <li><a href="">Мобільна версія</a></li>
        <li><a href="">Контакти</a></li>
        <li><a href="">Право власникам</a></li>
    </ul>

    <div class="share42init"></div>
</footer>