<div id="bestFilm">
    <div id="titleBestFilms">
        <h1>Кращі фільми з Кінотеатрів 2017 - 2018 року</h1>
    </div>
     <div id="sliderMonitor">
         <div id="visibleWindow">
             <div class="items">
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2016-05/1464200411_1464153320_lyuidiksapokalipsis.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2016-06/1467212226_1461537145_poltorashpiona.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2018-03/1520329110_krolik-petrik.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2018-02/1519755338_chorna-pantera.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2017-10/1507533805_tor-3-ragnarok.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
             </div>
             <div class="items">
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2017-09/1504595495_vono.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2017-09/1506607200_1506604510-814649236.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2017-09/1504785247_pila-8.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2017-09/1504767168_toy-hto-bizhit-po-lezu-2049.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2016-11/1478698106_poster_48686.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
             </div>

             <div class="items">
                 <div class="slider">
                     <img  src="https://ua-cinema.com/uploads/posts/2018-01/1516090510_gra-molli.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2018-02/1519484411_usi-groshi-svitu.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider">
                     <img src="https://ua-cinema.com/uploads/posts/2018-02/1517494316_toy-scho-bizhit-labirintom-liki-vid-smerti.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider"><img src="https://ua-cinema.com/uploads/posts/2017-12/1513342111_zoryani-viyni-ostanni-dzhedayi.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
                 <div class="slider"><img src="https://ua-cinema.com/uploads/posts/2017-10/1507538962_liga-spravedlivosti.jpg" alt="">
                     <div class="nameFilmsSlider">Best Films 2018</div>
                 </div>
             </div>

         </div>
     </div>

     <div class="shiftSlider" id="shiftLeft"><</div>
     <div class="shiftSlider" id="shiftRight">></div>

 </div>