<header>
    <nav>
        <ul class="topmenu">
            <li><a href="">Жанри фільмів &dArr;</a>
                <ul class="submenu">
                    <li><a href="">Новинки кіно</a></li>
                    <li><a href="">Вітчизняні</a></li>
                    <li><a href="">Жахи</a></li>
                    <li><a href="">Мультсеріали</a></li>
                    <li><a href="">Телепередачі</a></li>
                    <li><a href="">Детективи</a></li>
                    <li><a href="">Історичні</a></li>
                </ul>
            </li>
            <li><a href="" class="submenu-link">Фільми Українською &dArr;</a>
                <ul class="submenu">
                    <li><a href="">Бойовики</a></li>
                    <li><a href="">Драми</a></li>
                    <li><a href="">Музичні</a></li>
                    <li><a href="">Фантастика</a></li>
                    <li><a href="">Біографія</a></li>
                    <li><a href="">Жахи</a></li>
                    <li><a href="">Пригоди</a></li>
                </ul>
            </li>
            <li><a href="">Російські Фільми &dArr;</a>
                <ul class="submenu">
                    <li><a href="">Кримінал</a></li>
                    <li><a href="">Пригоди</a></li>
                    <li><a href="">Триллери</a></li>
                    <li><a href="">Мелодрами</a></li>
                    <li><a href="">Комедії</a></li>
                    <li><a href="">Військові</a></li>
                    <li><a href="">Пригоди</a></li>
                    <li><a href="">Драми</a></li>
                    <li><a href="">Історичні</a></li>
                    <li><a href="">Мультсеріали</a></li>
                </ul>
            </li>
            <li><a href="">Серіали &dArr;</a>
                <ul class="submenu">
                    <li><a href="">Українські серіали</a></li>
                    <li><a href="">Міні серіали</a></li>
                    <li><a href="">Зарубіжні серіали</a></li>
                    <li><a href="">Турецькі серіали</a></li>
                </ul>
            </li>
            <li><a href="">Трейлери &dArr;</a>
                <ul class="submenu">
                    <li><a href="">Усі трейлери</a></li>
                    <li><a href="">Українські трейлери</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="clear"></div>
    {{> headerSlider}}
    <div class="clear"></div>
</header>