<div id="bestFilm">
     <div id="sliderMonitor">
         <div id="visibleWindow">
             <div class="items">
                 <div class="slider"><img
                     src="http://bm.img.com.ua/nxs/img/prikol/images/large/1/2/308321_879389.jpg" alt=""></div>
                 <div class="slider"><img
                     src="http://www.bugaga.ru/uploads/posts/2016-12/1481270962_kartinki-8.jpg" alt=""></div>
                 <div class="slider"><img src="http://portal-zastavok.at.ua/_ph/264/631298965.jpg" alt=""></div>

             </div>
             <div class="items">
                 <div class="slider"><img src="http://portal-zastavok.at.ua/_ph/264/631298965.jpg" alt=""></div>
                 <div class="slider"><img src="http://cdn.acidcow.com/pics/20130114/nice_girls_22.jpg"
                                              alt=""></div>
                 <div class="slider"><img src="http://portal-zastavok.at.ua/_ph/264/631298965.jpg" alt=""></div>
             </div>

             <div class="items">
                 <div class="slider"><img
                     src="http://img.over-blog-kiwi.com/0/82/53/64/20140508/ob_c65730_for-grossman.jpg" alt="">
                 </div>
                 <div class="slider"><img
                     src="http://img.over-blog-kiwi.com/0/82/53/64/20140508/ob_c65730_for-grossman.jpg" alt="">

                 </div>
                 <div class="slider"><img src="http://cdn.acidcow.com/pics/20130114/nice_girls_22.jpg"
                                              alt=""></div>
             </div>

         </div>
     </div>


     <div id="shiftSliderBlock">
         <div class="shiftSlider" id="shiftLeft">Назад</div>
         <div class="shiftSlider" id="shiftRight">Вперед</div>
     </div>
 </div>