<div id="infoBlock">
    <div id="titleInfoBlock">
        <h3>Кращі фільми онлайн дивитися безкоштовно без реєстрації! </h3>
    </div>
    <div id="textInfoBlock">
        <p>Давайте зануримося в світ кращого кіно онлайн! Кращі фільми в хорошій якості - це
        ті самі відомі кінокартини, які найбільш закріпилися в попиті серед кіноманів.
        Крім добре всім нам відомих стрічок, які стали класикою, кращі фільми включають
        в себе так само кінокартини, які вийшли з недавнього часу, такі як - Аватар, Пірати
        карибського моря і багато інших.</p>

        <p>Звичайно, голосувати і впливати на долю рейтинга наших топ фільмів - шалено приємне
        і захоплююче заняття. Принаймні, ми в цьому не сумніваємося. Але ж головною метою
        відвідування нашого сайту є перегляд стрічок. Так от, друзі, поспішаємо повідомити,
        що дивитися фільми 2015, у тому числі і найкращі фільми онлайн , тут може кожен відвідувач
        ресурсу!</p>

        <p>Щоб почати дивитися фільми в хорошій якості, які Ви вибрали, для цього не потрібно,
        на щастя, купувати квитки в кіно або терміново шукати який-небудь диск - наш сайт створений
        для тих, хто любить перегляд в комфортних умовах, не виходячи з дому і не витрачаючи купу
        грошей на «високе мистецтво». Ви просто вибирайте стрічки, включайте плеєр і починаєте перегляд!
        Відмінне рішення, чи не так? А ще краще воно стає, коли є можливість дивитися фільми такі, які
        захочеться побачити ще раз і які залишать незабутнє враження. У нас це все є.</p>

        <p>Озброюйтеся попкорном , сідайте зручніше - починайте дивитися кращі фільми онлайн на нашому
        сайті , отримуючи заряд позитивних, найкращих емоцій у світі!</p>
    </div>
</div>