<nav>
    <ul id="menu">
        <li><a href="#" id="linkMainPage">Головна</a></li>
        <li>
            <a href="#">Жанри фільмів &darr;</a>
            <ul class="sub-menu">
                <li><a href="">Новинки кіно</a></li>
                <li><a href="">Вітчизняні</a></li>
                <li><a href="">Жахи</a></li>
                <li><a href="">Мультсеріали</a></li>
                <li><a href="">Телепередачі</a></li>
                <li><a href="">Детективи</a></li>
                <li><a href="">Історичні</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Фільми Українською &darr;</a>
            <ul class="sub-menu">
                <li><a href="">Бойовики</a></li>
                <li><a href="">Драми</a></li>
                <li><a href="">Музичні</a></li>
                <li><a href="">Фантастика</a></li>
                <li><a href="">Біографія</a></li>
                <li><a href="">Жахи</a></li>
                <li><a href="">Пригоди</a></li>
            </ul>
        </li>
        <li><a href="#">Російські Фільми &darr;</a>
            <ul class="sub-menu">
                <li><a href="">Кримінал</a></li>
                <li><a href="">Пригоди</a></li>
                <li><a href="">Триллери</a></li>
                <li><a href="">Мелодрами</a></li>
                <li><a href="">Комедії</a></li>
                <li><a href="">Військові</a></li>
                <li><a href="">Пригоди</a></li>
                <li><a href="">Драми</a></li>
                <li><a href="">Історичні</a></li>
                <li><a href="">Мультсеріали</a></li>
            </ul>
        </li>

        <li><a href="#">Серіали &darr;</a>
            <ul class="sub-menu">
                <li><a href="">Українські серіали</a></li>
                <li><a href="">Міні серіали</a></li>
                <li><a href="">Зарубіжні серіали</a></li>
                <li><a href="">Турецькі серіали</a></li>
            </ul>
        </li>

        <li><a href="#">Трейлери &darr;</a>
            <ul class="sub-menu">
                <li><a href="">Усі трейлери</a></li>
                <li><a href="">Українські трейлери</a></li>
            </ul>
        </li>

    </ul>
</nav>