<div id="topHeader">
    <div id="logo">
        <h4>Logo</h4>
    </div>
    <div id="search">
        <input type="text" placeholder="Пошук"/>
        <img id="searchIcon" src="/img/search.png" alt="">
    </div>
</div>