<section id="uploadFile">
    <form name="sendFile">
        <input type="radio" id="movie"
               name="content" value="movie" checked>
        <label for="movie">Movie</label>


        <input type="radio" id="images"
               name="content" value="images">
        <label for="images">Images</label>
        <br>

        <input type="file" name="sampleFile" required/>
        <br>
        <label for="nameFile">Enter file name:</label>
        <input type="text" name="nameFile" id="nameFile">

        <br>
        <input type='submit' value='Upload!' />
    </form>
</section>
