body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

#topHeader {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    background-color: #041D28;
}

#logo {
    grid-column: 2 / span 1;
}

#logo h4 {
    margin: 20px 0;
}

#search {
    grid-column: 3 / span 3;
    margin: 15px 0;
}

#search input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 7px;
}

header {
    width: 100%;
    height: 650px;
    background: url(/img/bg1.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* other */
}

/*style for top menu*/
header {
    /*background: white;*/
    text-align: center;
}

header a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}

nav {
    display: table;
    margin: 0 auto;
    background: #182531;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*.topmenu {*/
/*width: 1000px;*/
/*text-align: center;*/
/*}*/

.topmenu:after {
    content: "";
    /*display: table;*/
    clear: both;
}

.topmenu > li {
    /*width: 16%;*/
    /*width: 250px;*/
    float: left;
    position: relative;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Exo 2', sans-serif;
}

.topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /*color: #404040;*/
    /*color: grey;*/
    color: #D5D5D5;
    padding: 15px 0;
    margin: 0 40px 0 45px;
    /*width: 220px;*/
}
.topmenu li a:hover { color: white; }

.submenu-link:after {
    /*content: "\f107";*/
    font-family: "FontAwesome";
    color: inherit;
    /*color: yellow;*/
    margin-left: 10px;
}

.submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 183px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.submenu li a:hover {
    color: yellow;
}

.submenu li:last-child a { border-bottom: none; }

.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}
/*end style for top menu*/

/*style for slide best films*/
#bestFilm {
    background-color: #182531;
    display: block;
    width: 1100px;
    margin: 70px auto;
    position: relative;
}

#titleBestFilms h1 {
    color: white;
    font-size: 1.5em;
    text-align: left;
    margin: 20px;
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
}

.nameFilmsSlider {
    color: #FFFFFF;
    background-color: #091018;
    padding: 10px 0;
    margin-top: -5px;
    text-align: center;
    width: 100%;
}

.nameFilmsSlider p {
    font-size: 0.7em;
    margin: 5px 0;
}


#sliderMonitor {
    text-align: left;
    /*border: 1px solid black;*/
    /*box-sizing: border-box;*/
    height: 380px;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}

#visibleWindow {
    width: 2500px;
    padding: 0;
    height: 380px;
}

.slider {
    display: inline-block;
    margin: 0 5px 0 5px;
    padding: 0;
    opacity: 1;
    width: 185px;
}

.slider img {
    width: 100%;
    height: 275px;
    margin: 0;
    padding: 0;
}

.slider:hover {
    opacity: 0.6;
}

.items {
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    transition: 1.3s;
    /*background-color: white;*/
    background-color: #041D28;
}

.shiftSlider {
    position: absolute;
    background-color: red;
    padding: 5px 0;
    width: 20px;
    height: 20px;
}

#shiftLeft {
    top: 50%;
    left: 10px;
}

#shiftRight {
    top: 50%;
    right: 10px;
}
/*end style for slide best films*/

/*style for content*/
#content {
    background-color: #091016;
    padding: 5px;
}


/*style for infoBlock*/
#infoBlock {
    width: 1100px;
    /*padding: 10px;*/
    margin: 30px auto 50px auto;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid #494949;
}

#titleInfoBlock {
    background-color: #182531;
    color: white;
    padding: 1px 15px;
}

#textInfoBlock {
    background-color: #0C151D;
    color: white;
    padding: 5px 15px;
    text-align: justify;
}
/*end style for infoBlock */

/*end style for content*/

/*footer*/
footer {
    background-color: #0C151D;
    color: white;
    /*padding: 7px;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

}

footer a {
    color: white;
}

footer li {
    list-style-type: none;
}

footer ul {
    grid-column: 2 / span 2;
    padding-left: 0;
}