html, body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: #091018;
}

header {
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
}

header input {
    margin-top: 50px;
    width: 400px;
    border-radius: 5px;
    font-size: 1.5em;
}

#textTitle {
    font-size: 1.4em;
}


#app {
    max-width: 2560px;
    margin: 0 auto;
}

#notResult {
    text-align: center;
    color: white;
    font-size: 1em;
}

#searchMonitor {
    margin: 15px 0;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    min-height: 330px;
    margin: 20px 1px;
    padding: 5px;
    border: 1px solid #494949;
    background-color: #0C151D;
    width: 230px;
}

.item:hover {
    webkit-transform: scale(1.1);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
}

.item img {
    width: 100%;
    height: 280px;
}

.item p {
    font-size: 1em;
    text-align: center;
    color: white;
}