<!DOCTYPE html>
<html>
<head>
    <title>Video Host</title>
    <meta charset="utf-8" />
    <link href="/style/normalize.css" rel="stylesheet">
    <link href="/style/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {{> search}}
    {{> header}}

    <script src="/js/sliderHeader.js"></script>
</body>
<html>