<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link href="/style/normalize.css" rel="stylesheet">
    <link href="/style/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {{> search}}
    {{> header}}
    {{> content}}
    {{> footer}}

    <script src="/js/mainPage.js"></script>
    <script src="/js/share42/share42.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.5.1/lory.min.js"></script>
</body>
</html>