<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <meta charset="utf-8" />
    <link href="/style/normalize.css" rel="stylesheet">
    <link href="/style/signIn.css" rel="stylesheet">
</head>
<body>
    <form method="post" action="" class="login">
        <p>
            <label for="login">Логін:</label>
            <input type="text" name="login" id="login" value="" autocomplete="off">
        </p>

        <p>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" value="" autocomplete="off">
        </p>

        <p class="login-submit">
            <button type="submit" class="login-button">Ввійти</button>
        </p>

        <p class="forgot-password"><a href="">Забули пароль ?</a></p>
    </form>
</body>
</html>