<html>
<head>
    <title>Video stream</title>
</head>
<body>
<video id="videoPlayer" controls>
    <source src="/video" type="video/mp4">
</video>
<!--<button id="toggleButton">Start/Stop</button>-->

<script>
    document.addEventListener('DOMContentLoaded', init, false);

    function init() {
        // const VP = document.getElementById('videoPlayer');
        // const VPToggle = document.getElementById('toggleButton');
        //
        // VPToggle.addEventListener('click', function() {
        //   if (VP.paused) VP.play();
        //   else VP.pause()
        // })
    }
</script>
</body>
</html>